# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ec51f22943a5b9fba12fdb891c6e8aed5da55bc37cc4f0e2f984db54ee53e712f55a6351f9c43f5ce7b58067811c0f52fcf8b8371af890c1aff70dd221fd71df

test:
  secret_key_base: 8362fde9b073334df3df466b62e6084e6556653592def00e7cd430ca1b1da9c6bf321bdc96b01742555b8559c8d602b9485a06b9b172cb14cdc7a13d9e19de8f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
